[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["command-line-utilities"]
description = "A JSON query language CLI tool"
edition = "2018"
exclude = [
    ".github",
    ".travis.yml",
    "benches/**/*",
    "performance.sh",
    "rustfmt.toml"
]
keywords = ["cli", "json", "terminal", "tool", "query"]
license = "MIT"
name = "jql"
readme = "README.md"
repository = "https://github.com/yamafaktory/jql"
version = "2.7.2-alpha.0"

[badges]
travis-ci = { repository = "yamafaktory/jql" }

[dev-dependencies]
# Lock version until https://github.com/BurntSushi/critcmp/issues/5 is fixed.
criterion = "=0.3.2"

[dependencies]
clap = "2.33.2"
colored_json = "2.1.0"
pest = "2.1.3"
pest_derive = "2.1.0"
rayon = "1.4.0"

[dependencies.serde_json]
default-features = false
features = ["preserve_order"]
version = "1.0.57"

[[bench]]
harness = false
name = "benchmark"
path = "benches/benchmark.rs"

[lib]
name = "jql"
path = "src/lib.rs"

[[bin]]
name = "jql"
path = "src/bin.rs"

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = 'abort'
