[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["command-line-utilities"]
description = "A JSON query language CLI tool"
edition = "2021"
exclude = [
    ".github",
    ".travis.yml",
    "assets/**/*",
    "benches/**/*",
    "performance.sh",
    "rustfmt.toml"
]
keywords = ["cli", "json", "terminal", "tool", "query"]
license = "MIT"
name = "jql"
readme = "README.md"
repository = "https://github.com/yamafaktory/jql"
version = "3.2.1"

[dev-dependencies]
criterion = "0.3.5"

[dependencies]
anyhow = "1.0.56"
# Mark clap and colored_json as optional.
# See: https://github.com/rust-lang/cargo/issues/1982
clap = { version = "3.1.8", features = ["cargo"], optional = true }
colored_json = { version = "2.1.0", optional = true }
pest = "2.1.3"
pest_derive = "2.1.0"
rayon = "1.5.1"

[dependencies.async-std]
version = "1.11.0"
features = ["attributes", "unstable"]
optional = true

[dependencies.serde_json]
default-features = false
features = ["preserve_order", "unbounded_depth"]
version = "1.0.79"

# See comment above.
[features]
default = ["async-std", "clap", "colored_json"] 

[[bench]]
harness = false
name = "benchmark"
path = "benches/benchmark.rs"

[lib]
name = "jql"
path = "src/lib.rs"

[[bin]]
name = "jql"
path = "src/bin.rs"
required-features = ["clap", "colored_json"]

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = 'abort'
