[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["command-line-utilities"]
description = "A JSON query language CLI tool"
edition = "2018"
exclude = [
    ".github",
    ".travis.yml",
    "assets/**/*",
    "benches/**/*",
    "performance.sh",
    "rustfmt.toml"
]
keywords = ["cli", "json", "terminal", "tool", "query"]
license = "MIT"
name = "jql"
readme = "README.md"
repository = "https://github.com/yamafaktory/jql"
version = "2.8.3"

[dev-dependencies]
criterion = "0.3.3"

[dependencies]
anyhow = "1.0.36"
clap = "2.33.3"
colored_json = "2.1.0"
pest = "2.1.3"
pest_derive = "2.1.0"
rayon = "1.5.0"

[dependencies.async-std]
version = "1.8.0"
features = ["attributes", "unstable"]

[dependencies.serde_json]
default-features = false
features = ["preserve_order"]
version = "1.0.60"

[[bench]]
harness = false
name = "benchmark"
path = "benches/benchmark.rs"

[lib]
name = "jql"
path = "src/lib.rs"

[[bin]]
name = "jql"
path = "src/bin.rs"

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = 'abort'
