[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["command-line-utilities"]
description = "A JSON query language CLI tool"
edition = "2018"
exclude = [".travis.yml", "after-success.sh", "benches/**/*", "rustfmt.toml"]
keywords = ["CLI", "JSON", "tool"]
license = "MIT"
name = "jql"
readme = "README.md"
repository = "https://github.com/yamafaktory/jql"
version = "2.4.2"

[badges]
travis-ci = { repository = "yamafaktory/jql" }

[dev-dependencies]
criterion = "0.2"

[dependencies]
clap = "2.33.0"
colored_json = "2.0.0"
pest = "2.1.1"
pest_derive = "2.1.0"
rayon = "1.0.3"

[dependencies.serde_json]
version = "1.0.39"
default-features = false
features = ["preserve_order"]

[[bench]]
name = "benchmark"
harness = false

[lib]
name = "jql"
path = "src/lib.rs"

[[bin]]
name = "jql"
path = "src/bin.rs"

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = 'abort'
