[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["command-line-utilities"]
description = "A JSON query language CLI tool"
keywords = ["CLI", "JSON", "tool"]
license = "MIT"
name = "jql"
readme = "README.md"
repository = "https://github.com/yamafaktory/jql"
version = "0.1.1"

[badges]
travis-ci = { repository = "yamafaktory/jql" }

[dependencies]
clap = "2.32.0"
serde_json = "1.0.32"
toml = "0.4.8"
