
[package]
authors = { workspace = true }
categories = { workspace = true }
description = "jql - JSON Query Language - is a fast and simple command-line tool to manipulate JSON data."
edition = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
name = "jql"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[dependencies]
anyhow = "1.0.70"
clap = { version = "4.2.4", features = ["derive"] }
colored_json = { version = "3.1.0" }
jql-runner = { path = "../jql-runner", version = "6.0.1" }
serde = "1.0.160"
serde_stacker = "0.1.8"
serde_json = { workspace = true }
tokio = { version = "1.27.0", features = ["fs", "io-std", "io-util", "macros", "rt-multi-thread"] }

