name: ci

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  clippy:
    if: "!contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
          components: clippy
      - uses: actions/checkout@v2
      - name: Clippy
        run: cargo clippy --all-features -- -D warnings

  test:
    if: "!contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [stable, beta, nightly]
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: actions/checkout@v2
      - name: Run cargo tests
        run: cargo test --all-features --verbose

  shell-tests:
    if: "!contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        rust: [stable, beta, nightly]
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: actions/checkout@v2
      - name: Test pipe
        run: if ! echo "{\"a\":4}" | cargo run '"a"' | grep -q "4"; then exit 1; fi
      - name: Test raw-ouput flag
        run: if echo "{\"foo\":\"bar\"}" | cargo run '"foo"' -r | grep -q \"bar\"; then exit 1; fi
      - name: Test heredoc
        run: |
          cargo run -q -- '"one".[2:0],"two","three"' <<EOF
          {
            "one": [1, 2, 3],
            "two": 2,
            "three": 3
          }
          {
            "one": [4, 5, 6],
            "two": 2,
            "three": 3
          }
          EOF

  bench:
    if: "!contains(github.ref, 'refs/heads/master') && !contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable, beta, nightly]
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: actions/checkout@v2
      - name: Run the benchmarks against the current branch, master and compare
        run: |
          git fetch origin master
          cargo bench --bench benchmark -- --noplot --save-baseline current
          git checkout -b master
          cargo bench --bench benchmark -- --noplot --save-baseline master
          cargo install critcmp --force
          critcmp master current